@font-face {
	font-family: Intro;
	src: url(../fonts/Intro.otf);
}

@font-face {
	font-family: SofiaProLight;
	src: url(../fonts/SofiaProLight.otf);
}


.content {
		max-width: 1024px;
	margin: 0 auto;

	

}

.inline {
	display: inline-block;
}


/* about myself */
.myself {
	float: right;
	margin-left: 3%;
	margin-right: 0;
	padding-top: 240px;
	text-align: right;
	width: 56%;
}

.myself p {
	font: 18px SofiaProLight, sans-serif;
	line-height: 1.4em;
	color: #000000;
}


.picture {
	position: relative;
	vertical-align: top;
	float: left;
	width: 25%;
	padding-top: 240px;
}

.picture img {
	max-width: 100%;
}

/* about my tools */
.mytool {
	margin-top: 80px;
	float: left;
	margin-right: 3%;
	margin-left: 0;
	text-align: left;
	width: 56%;
}

.mytool p {
	font: 18px SofiaProLight, sans-serif;
	line-height: 1.4em;
	color: #000000;
}


.imagetool {
	margin-top: 80px;
	float: right;
	width: 25%;
}

.imagetool img {
	max-width: 100%;
}

/* about this website */
.about_website {
	margin-top: 80px;
	float: right;
	margin-left: 3%;
	margin-right: 0;
	text-align: right;
	width: 56%;
}

.about_website p {
	font: 18px SofiaProLight, sans-serif;
	line-height: 1.4em;
	color: #000000;
	margin-bottom: 100px;
}

.imageweb {
	margin-top: 80px;
	margin-bottom: 100px;
	position: relative;
	vertical-align: top;
	float: left;
	width: 25%;
}

.imageweb img {
	max-width: 100%;
}


@media only screen and (max-width: 1184px) {

.content {
	margin: 0 50px;
	
}

}


@media only screen and (max-width: 767px) {
	.content {
		margin: 0 8%;
		max-width: none;
		padding-top: 80px;
	}

.myself {
	float: none;
	padding-top: 30px;
	text-align: left;
	width: 100%;
	
}

.picture {
	float: none;
	position: relative;
	margin: 0 auto;
	text-align: center;
	padding-top: 40px;
	width:80%;
}

.mytool {
	float: none;
	padding-top: 30px;
	margin-top: 0px;
	text-align: left;
	width: 100%;
	
}

.imagetool {
	float: none;
	position: relative;
	margin: 0 auto;
	text-align: center;
	padding-top: 60px;
	width:80%;
}

.about_website {
	float: none;
	padding-top: 30px;
	margin-top: 0;
	text-align: left;
	width: 100%;
	margin-bottom: 80px;
	
}

.imageweb {
	float: none;
	position: relative;
	margin: 0 auto;
	text-align: center;
	padding-top: 60px;
	width:80%;

}

}


